<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="referrer" content="never">
	<title>豆瓣一刻</title>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="./public/less/main.css">
	<script src="public/bower_components/angular/angular.min.js"></script>
	<script src="public/bower_components/angular-route/angular-route.min.js"></script>
	<script src="script/controllers.js"></script>
	<script src="script/directives.js"></script>
	<script src="script/index.js"></script>
</head>
<body>
	<div class="viewport" ng-app="Yike" >
		<!-- 侧边导航 -->
		<div ng-class="{navs:true,collapse:flag}">
			<dl>
				<dt class="login">
					<div class="avatar">
						<img src="./public/images/avatar.png" alt="">
					</div>
					<span>登录</span>
				</dt>
				<dd ng-class="{active:index == $index+1}"    ng-repeat="nav in navs" ng-click="clickHandel($index+1)">
					<a href="#!/{{$index}}" class="icon-home">
						<span>{{nav}}</span>
					</a>
				</dd>
							</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">夜晚</a>
				<a href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div ng-class="{header:true,collapse:flag}">
				<a href="javascript:;" class="menu icon-menu" ng-click="clickHandel()"></a>
				<h2>{{title}}</h2>
				<a href="javascript:;" class="search icon-search"></a>
			</div>
			<!-- 主体 -->
			<div ng-class="{body:true,collapse:flag}">
				<div  my-loading>
				</div>
				<div class="item">
					<!-- 日期分类 -->
					<div class="mark" ng-hide="loaded">{{time|date:"MMM dd"}}</div>
					<ul class="posts large" ng-view>
						<!-- 文章 -->
						<!--ng-view部分-->
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--<script src="./libs/toggle.js"></script>-->
</body>
</html>